
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
    font-size: 62.5%;
}


:root {
    --bg-color: #191f36;
    --main-color: #f49818;
    --snd-bg-color: #262b40;
}

body {
    background-color: var(--bg-color);
    height: auto;
    min-width: 1440px;
}

.brand-logo {
    font-size: 2.5rem;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem 0 7rem;
    color: white;
    margin-bottom: 10rem;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
}

nav a {
    text-decoration: none;
    color: white;
    margin: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-size: 1.6rem;
}

nav a:hover {
    color: var(--main-color);
}

nav :first-child {
    color: var(--main-color);
}

.menu-toggle {
    display: none;
    font-size: 9rem;
}

.hero-section {
    display: flex;
    padding: 50px;
    margin-right: 20rem;
    padding-left: 0px;
    color: white;
    gap: 10rem;
    margin-bottom: 5rem;
    justify-content: center;
    font-weight: 700;
}

.hero-text p {
    width: 700px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.hero-text h3 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.hero-text h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
}

.social-icons {
    margin-bottom: 5rem;
    letter-spacing: 10px;
}

.social-icons i {
    transition: 0.5s ease;
}

.social-icons i:hover {
    box-shadow: 0px 0px 10px 2px var(--main-color);
}

span {
    font-size: 5.6rem;
}

.social-icons i {
    padding: 8px;
    font-size: 2.5rem;
    border-radius: 50%;
    border: solid var(--main-color);
    color: var(--main-color);
}

.hero-image {
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: mouvement 4s ease-in-out infinite alternate;
}

@keyframes mouvement {
    from {
        transform: translateY(75%);
    }

    to {
        transform: translateY(0%);
    }
}

.bounce-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.project-item {
    position: relative;
    justify-content: end;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
}

.project-overlay {
    position: absolute;
    opacity: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 35%, rgba(244, 152, 24, 1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    transition: 0.5s ease;
}

.project-overlay:hover {
    opacity: 1.1;
    transform: scale(1.0)
}

.project-overlay i {
    font-size: 25px;
    color: #000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1.5rem 2.5rem;
    text-align: center;
}

.about-section {
    display: flex;
    background-color: var(--snd-bg-color);
    width: 100vw;
    justify-content: center;
    height: 600px;
    gap: 10rem;
    align-items: center;
}

.about-image {
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5% 50% 2% 2%;
}

.profile-frame {
    width: 250px;
    height: 250px;
    background-color: #898fa166;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.about-image img {
    border-radius: 50%;
}

.about-text {
    width: 55rem;
    color: #ffff;
}

.about-section h1 {
    font-size: 5.6rem;
}

.about-text span {
    color: rgb(255, 140, 0);
}

.about-text h3 {
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 2.6rem;
}

.about-text p {
    margin-bottom: 2rem;
}

button,
input {
    font-size: 2rem;
    transition: 0.5s ease;
    margin-top: 25px;
}

button:hover {
    box-shadow: 0px 0px 10px 2px var(--main-color);
}

.services-section {
    display: flex;
    justify-content: center;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.services-section span {
    color: rgb(255, 140, 0);
}

.services-section h1 {
    margin-top: 5rem;
    font-size: 5.6rem;
}

.services-container {
    display: flex;
    justify-content: space-around;
    padding: 10rem;
    width: 1570px;
}

.service-card {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    background-color: var(--snd-bg-color);
    padding: 4rem 1rem 4rem 1rem;
    border-radius: 15px;
    transition: 0.5s ease;
}

.service-card:hover {
    border: solid 2px var(--main-color);
    transform: scale(1.02);
}

.service-card i {
    font-size: 7rem;
    color: var(--main-color);
}

.service-card h3 {
    margin-bottom: 1rem;
}

.service-card p {
    margin-bottom: 1rem;
}

button {
    padding: 10px 2.5rem 10px 2.5rem;
    border-radius: 25px;
    background-color: var(--main-color);
    border: none;
    box-shadow: 0px 0px 10px 2px var(--main-color);
    font-weight: 600;
}

.projects-section {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0rem;
    flex-direction: column;
    color: #ffff;
    background-color: var(--snd-bg-color);
}

.projects-section span {
    color: var(--main-color);
}

.projects-section h1 {
    margin-top: 6rem;
    font-size: 5.6rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 6rem;
    border-radius: 15px;
    padding-top: 3rem;
}

.projects-grid img {
    width: 100%;
    height: 310px;
    border-radius: 15px;
}

.contact-section {
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section h1 {
    margin-top: 96px;
    font-size: 5.6rem;
}

.contact-section span {
    color: var(--main-color);
}

.contact-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 8rem;
    gap: 3rem;
}

.map-container iframe {
    border-radius: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap: 1rem;
}

textarea {
    width: 500px;
    height: 300px;
    margin-top: 20px;
    font-size: 20px;
    background-color: var(--snd-bg-color);
    border: none;
    border-radius: 8px;
    padding: 1rem;
}

.form-row {
    width: 500px;
    display: flex;
}

.form-row input {
    width: 240px;
    margin-inline: 10px;
    height: 2em;
    padding: 1em;
    background-color: var(--snd-bg-color);
    border-radius: 8px;
    border: none;
}

footer p {
    color: white;
}

footer {
    display: flex;
    background-color: var(--snd-bg-color);
    justify-content: space-between;
    width: 100vw;
    padding: 1rem 3rem 1rem 3rem;
}

footer i {
    font-size: 10em;
    background-color: var(--main-color);
    padding: 2px;
    border-radius: 4px;
    transition: 0.5s ease;
}

footer i:hover {
    box-shadow: 0px 0px 10px 2px var(--main-color);
}





@media (max-width: 1024px) {
    body {
        min-width: 100vw;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 6rem;
        border-radius: 15px;
        padding-top: 3rem;
    }

    .contact-section {
        width: 100%;
    }

    .about-image {
        width: 300px;
    }

    .about-text {
        width: 550px;
    }

    .contact-wrapper {
        width: 100%;
        padding: 2rem;
        justify-content: space-between;
    }

    .hero-text {
        width: 400px;
    }

    .hero-section {
        margin-right: 0;
    }

    .hero-text p {
        width: 400px;
    }

    .services-container {
        width: 1000px;
        padding: 4rem;
    }

    .map-container {
        width: 10%;
    }

    iframe {
        width: 450%;
    }
}

@media (max-width: 768px) {
    header {
        padding: 0;
        padding: 1rem 3rem 1rem 3rem;
    }

    nav {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    body {
        min-width: 786px;
    }

    div.hero-section {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 700px;
        padding: 2rem;
    }

    .about-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-image {
        height: 350px;
    }

    .services-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .service-card {
        width: 100%;
        margin: 2rem;
    }

    .projects-grid {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        width: 730px;
        justify-content: center;
        align-items: center;
    }

    .contact-wrapper {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .form-row {
        flex-direction: column;
        gap: 1rem;
    }

    .form-row input {
        width: 100%;
        margin: 0;
    }

    footer {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 19px;
        align-items: center;
    }

    iframe {
        width: 500px;
    }

    .map-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .map-container {
        width: 100%;
    }

    .about-section {
        width: 100%;
    }

    .about-text {
        width: auto;
    }

    .menu-toggle i {
        font-size: 2rem;
    }
}
@media (max-width: 375px){
    .hero-section{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .bounce-img{
        padding: 0px;
        margin: 30px;
    }
    .hero-image {
    background-color: aliceblue;
    width: 300px;
    height: 400px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: mouvement 4s ease-in-out infinite alternate;
}

@keyframes mouvement {
    from {
        transform: translateY(20%);
    }

    to {
        transform: translateY(10%);
    }
}

}
